@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$electric-violet: #6200EE;
$pomegranate: #F4511E;
$black: #00000033;

$header-color: $pomegranate;
$box-shadow-color: $black;
$primary-border-color: $electric-violet;

$font-stack: 'Roboto', sans-serif;

@mixin box-shadow($box-shadow) {
  box-shadow: $box-shadow
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-stack;
  height: 100%;
}

.App {
  text-align: center;
}

header {
  @include box-shadow(0px 4px 10px $box-shadow-color);
  padding: 20px;
  margin: 0 0 20px;
}

h1 {
  color: $header-color;
  margin-top: 0;
}

p {
  margin: 20px 0;
}

img {
  @include border-radius(5px);
}

.advertisement_container {
  margin: 5px;
}

.products_container {
  margin: 0 auto 300px;
  max-width: 1000px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;

  &:after {
    content: '';
    flex: 0 0 330px;
    justify-content: space-around;
  }

  .product {
    max-width: 320px;
    height: 200px;
    flex: 1 0 320px;
    margin: 5px;
    @include border-radius(10px);

    @include box-shadow(2px 2px 4px $box-shadow-color);

    &:hover {
      background-color: darken($color: #fff, $amount: 5);
    }

    &_face {
      height: 62.5%;
      @include box-shadow(1px 1px 2px $box-shadow-color);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $pomegranate;
    }

    &_content {
      height: 37.5%;
      color: $electric-violet;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.product_price {
  flex: 1 1 50%;
}

.product_size {
  flex: 1 1 50%;
  @include border-radius(5px);
  border: 0.5px solid $electric-violet;
  padding: 5px;
}

.product_date {
  flex: 1 1 100%;
  font-size: 0.75rem;
  margin-top: 5px;
}

.label {
  color: darken($color: #fff, $amount: 50);
  font-weight: 700;
}

// .Loading_logo {
//   animation: Loading_logo_spin infinite 20s linear;
//   height: 40vmin;
// }

// @keyframes Loading_logo_spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
